<!-- Modal -->
<div class="modal fade" id="new_appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Mentoring Availability</h4>
      </div>
      <div class="modal-body">
        <p>Click 'Create' to make an availability for you to mentor someone at <span id="start_time"></span> on <%= @saturday.strftime("%m/%d/%Y")%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<div class="schedule_container">
    <h1>Schedule for <%= @saturday.strftime("%m/%d/%Y")  %></h1>
    <table>
      <thead>
        <tr>
          <td>Mentor Name</td>
        <% @times.each do |time| %>
          <td class="new_appt" data-toggle="modal" data-target="#myModal"><%= datetime_format(time) %></td>
        <% end %>
        </tr>
      </thead>
      <tbody>
      <% @mentors.each do |mentor| %>
        <tr>
          <td><%= mentor.name %></td>
          <% @times.each do |time| %>
            <% appointment = mentor.appointments.where(:start_time => time-5.hours).first %>
            <% if appointment %>
              <% if appointment.mentee_id %>
              <td class="filled">
              <% else %>
              <td class="available">
              <% end %>
            <% else %>
            <td>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
