@import "bootstrap";

body {
  margin-bottom: 50px;
}

.schedule_container {

  width: 95%;
  margin: 0 auto;

  .schedule_body {

    background-color: #ccc;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 10px;
    margin-top: 20px;

    .slot {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      height: 50px;
      border-radius: 5px;
      padding:5px;
      width: 80px;
    }

    .schedule_header {

      display: table-row;

      .slot {
        background: black;
        color: white;
      }
    }
    .schedule_row {

      display: table-row;

      .slot {
        background-color: white;
      }

      .new_appt {
        background-color: black;
        color: white;
        cursor: pointer;
      }

      .filled {
        background:blue;
      }

      .available {
        background:green;
      }
    }
  }
}
